.benefactor-heading {
    margin-top: 80px;
}

/* This is for sm and xs*/
@media screen and (max-width: 991.98px) {  }

/* This is for lg and md*/
@media screen and (min-width: 992px) {
    #benefactor {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/*body {*/
    /*!*background-image: url("images/bgi-30.jpg");*!*/
    /*!*background-color: #cccccc;*!*/
/*}*/
