.page li a {
    color: #333;
    border-radius: 0;
    border: 1px solid #999 !important;
}

.page li a:hover, .page li a:focus {
    border: 1px solid #333;
    background-color: #f6f6f6;
    color: #000;
}

#active-page {
    background: #333;
}

#active-page a {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}

#previous-page a, #next-page a{
    border-radius: 0;
}

/*.disabled a {*/
    /*color: #f1f1f1;*/
    /*border: 1px solid #f1f1f1;*/
/*}*/