.info-tab {
    background: transparent;
    box-shadow: 0 20px 15px -15px #000000;
    margin: 3% 0 3% 0;
}

.info-image-tab, .info-text-tab {
    padding: 5%;
    background-color: #ffffff;
    border: 15px solid #333;
}

.profile-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 991.98px) {  }

/* This is for lg and md*/
@media screen and (min-width: 992px) {
    .info-image-tab, .info-text-tab {
        height: 450px;
    }
}

.info-text-tab {
    overflow: scroll;
}
