.btn {
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    border: 1px solid #333;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.open .dropdown-toggle {
    background-color: #fff !important;
    color: #333 !important;
}

.dropdown-menu {
    min-width: 50px;
    text-align: center;
}

.dropdown-menu li a {
    color: #333 !important;
    background-color: #fff !important;
}

.dropdown-menu li a:hover {
    background-color: #f6f6f6 !important;
}

#selected-dropdown-menu a {
    background-color: #333 !important;
    color: #fff !important;
}

.page-dropdown {
    padding-left: 5%;
    padding-right: 5%;
}
