textarea {
  resize: none;
}

@media screen and (max-width: 991.98px) {
  #contact {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* This is for lg and md*/
@media screen and (min-width: 992px) {
  #contact {
    margin-left: 15%;
    margin-right: 15%;
  }
}


#about-us-content-tab {
  margin-bottom: 5%;
}