.react-datepicker-popper {
  z-index: 9999 !important;
}

.date-picker {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.date-picker-text {
  margin: 5%;
}

.flip-box {
  align-items: center;
  background-color: transparent;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}

.img-row-property {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* This is for xs*/
@media screen and (max-width: 767.98px){
  .flip-box {
    margin-top: 4%;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

/* This is for sm*/
@media screen and (max-width: 991.98px) and (min-width: 768px){
  .flip-box {
    margin-top: 4%;
    margin-bottom: 4%;
    padding-right: 5%;
    padding-left: 5%;
    height: 400px;
  }
}


/* This is for lg and md*/
@media screen and (min-width: 992px) {
  .flip-box {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
