h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
    font-weight: bold;
}

.btn {
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    border: 1px solid #333;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.nav-tabs li a {
    color: #777;
}

.content-height {
    min-height: 500px;
}